doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Photo Sharing
    meta(name="description", content="A photosharing web application for my family.")
    meta(name="keywords", content="photo, sharing, family, sns")
    meta(name="author", content="Eric Iwan")
    link(rel="stylesheet", href="login.css", type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://kit.fontawesome.com/6e13d63b5c.js", crossorigin="anonymous")

  body
    h1=title 
    #login-form
      form(action="/login", method="post" id="form")
        label(for="id") ID:
        input(type="text", id="id", name="id", required)
        
        button(type="submit") Submit
    .alert.alert-danger(role='alert', id='error-message', style='display: none; transition: visibility 1s, opacity 0.5s linear;')
      i.fa.fas.fa-triangle-exclamation.fa-beat
      p#error
    
  script. 
    const form = document.getElementById("form");

    form.onsubmit = async (event) => {
        event.preventDefault()
        
        const formData = new FormData(form)
        const errorMes = document.getElementById("error-message")
        const error = document.getElementById("error")
        let ob = {}
        for (const [key,value] of formData.entries()) {
            ob[key] = value
        }
        fetch("/login", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ob)
            
        })
        .then(response => {
            if(!response.ok){
                throw new Error("Bad network response")
            }
            return response.json()
        })
        .then(data => {
          console.log(data)
            if(!data.valid){
              errorMes.style.display = "block"
               error.textContent = data.error
            }
             else {
              return window.location = "/main"
             }
        })
        .catch(error =>{
            console.log(error)
        })
    }
