doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Photo Sharing
    meta(name="description", content="A photosharing web application for my family.")
    meta(name="keywords", content="photo, sharing, family, sns")
    meta(name="author", content="Eric Iwan")
    link(rel="stylesheet", href="main.css", type="text/css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')

  body
    h1 This is the main page.
    #nav-bar 
      nav
        h3 Top 
        h3 2023
    #main-feed
      form(type="submit", method="POST", action="/upload")
        input(type='file', name='photo')
        button.btn.btn-primary(type='submit') Upload
      #photo 
        h2=date
     
  //script.
    const formElem = document.querySelector('form');
    formElem.addEventListener('submit', async (e) => {
      e.preventDefault();
      await fetch('/upload', {
        method: 'POST',
        body: new FormData(formElem),
      });
    });
    
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')